/**=====================
     19. List CSS Start
==========================**/
.list-group-item.active {
	background-color: var(--theme-default);
	border-color: var(--theme-default);
}
.list-group{
	i{
		margin-right: $list-group-margin;
	}
	img{
		height: 40px;
		width: 40px;
		margin-right: $list-group-margin;
	}
}
/**=====================
     19. List CSS Ends
==========================**/